@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: turquoise;
  background-size: cover;
  background-position: relative;
  font-family: sans-serif;
}

.forgotpassword-box {
  width: 320px;
  height: 350px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 30px 30px;
}

.forgotpassword-box input {
  width: 100%;
  margin-bottom: 20px;
}
.forgotpassword-box input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.forgotpassword-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 15px;
}
.forgotpassword-box input[type="submit"]:hover {
  cursor: pointer;
  background: #39dc79;
  color: #000;
}
