#slider{
    top: 50%;
    
    bottom: initial!important;
}

.carousel-caption h5{
    top: 50%;
    bottom: 50%;
    text-align: center;
    padding-bottom: 450px;
    
    font-weight: 600;
    font-size: 50px;
    bottom: initial !important;
    color:#fff;
}

 
.login-container{
    margin: 0;
    padding: 0;
    background-image: url(jerry-zhou-5_UkFNpURas-unsplash.jpg);
    background-size: cover;
     background-position: relative;
    font-family: sans-serif;
    position: relative;
    display: block;
}


 
  
.login-box{
    width: 320px;
    height: 470px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
    position: absolute;
    display: block;
    box-sizing: border-box;
    margin-top: 100px;
    transform: translateY(+5%);
    transform: translateX(-60%);
    position: relative;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin-top: 10px;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

 #login-contain{
     margin-bottom: 200px;
 }