.reset-section{
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: relative;
	font-family: sans-serif;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.reset-box{
    width: 320px;
    height: 460px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.reset-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.reset-box input{
    width: 100%;
    margin-bottom: 20px;
}

.reset-box input[type="email"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

#otp{
    display: block;
    margin: 0px auto 20px auto;
    border:none;
    padding: 0;
    width: 9ch;
    color: #fff;
    background: repeating-linear-gradient(90deg, #fff 0, #fff 1ch, transparent 0, transparent 1.5ch) 0 100%/ 8.5ch 2px no-repeat;
    font: 3ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
}

#otp:focus {
    outline: none;
    color: grey;
}

.submit{
    border: none;
    outline: none;
    width:100%;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.submit:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background: #FFC199; /*Change background color*/
    margin: 1rem auto;
    padding: 25px 20px 18px 20px;
    border: 1px solid #888;
    width: 80%;
    display: block;
    color: black;
    border-left: 9px solid #FF6600; /*Change left border color*/
  }
  
  .modal-content>img{
    display: block;
    float: left;
    height: 25px;
    width: 25px;
    margin: auto 5px;
  }
  /* The Close Button */
  .close {
    color: #FF0033;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }