{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Aptitude Questions</title>
<link rel="stylesheet" type="text/css" href="{% static '/css/AptitudeQuestions.css' %}" />

{% endblock head %}

{% block body %}
<h1>Quiz</h1>
<div class="quiz-container">
  <div id="quiz"></div>
</div>
<button id="previous">Previous Question</button>
<button id="next">Next Question</button>
<button id="submit">Submit Quiz</button>
<div id="results"></div>


<script src="{% static 'js/AptitudeQuestions.js' %}" type="text/javascript"></script>  
{% endblock body %}