{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard1.css' %}">
    <title>DashBoard</title>
{% endblock head %}
{% block body %}
	
<div class="grid-container">
        
	<!-- <div class="menu-icon">
		<i class="fas fa-bars"></i>
	  </div> -->

	<header class="header">
		<div class="header__search">Your Academic Details</div>
		<!-- <div class="header__avatar">Your face</div> -->
	</header>
	
	<aside class="sidenav">
	  
		<div class="sidenav__close-icon">
			<i class="fas fa-times"></i>
		</div>
		<p class="para">Dashboard</p>
		<ul class="sidenav__list">
			<li class="sidenav__list-item"  >
			  <button class="button" onclick="myFunction()">Personal Details</button> 
			  </li>
			<li class="sidenav__list-item">
			  <button class="button" onclick="myFunction1()">Academic Details</button> 
			</li> 
			<li class="sidenav__list-item">
			  <button class="button" onclick="myFunction2()">Contact Us</button> 
			</li>
			<li class="sidenav__list-item">
			  <button class="button" onclick="myFunction3()">About Us</button> 
			</li>
			<li class="sidenav__list-item"></li>
		  </ul>
		  
	</aside>
	
	<main class="main1">
		<div class="main-header">
			<div class="main-header__heading">Hello Personal</div>
			<!-- <div class="main-header__updates">Recent Items</div> -->
		  </div>

		  <div class="main-overview">
			<div class="overviewcard">
			  <div class="overviewcard__icon">Tenth Board:</div>
			  <div class="overviewcard__info">Brd</div>
			</div>
			<div class="overviewcard">
			  <div class="overviewcard__icon">Tenth Percentage:</div>
			  <div class="overviewcard__info">Per</div>
			</div>
			<div class="overviewcard">
			  <div class="overviewcard__icon">Twelth Board:</div>
			  <div class="overviewcard__info">Brd</div>
			</div>
			<div class="overviewcard">
			  <div class="overviewcard__icon">Twelth Percentage:</div>
			  <div class="overviewcard__info">Per</div>
			</div>
		  </div>

		  <div class="main-cards">
			<div class="card">
			  <p>Stream Details</p>
<hr> 
<form>
	<select id="Stream" name="Stream">
	   <option value="">--Select Main Stream--</option>
	  <option value="Science">Science</option>
	 <option value="Commerce">Commerce</option>
	 <option value="Arts">Arts</option>
	</select>

	<select id="Degree" name="Degree">
		<option value="">--Select Stream--</option>
		<option value="BE">BE</option>
		 <option value="BCOM">BCOM</option>
	 <option value="BBA">BBA</option>
	 <option value="BFM">BFM</option>
	 <option value="BMS">BMS</option>
	 <option value="MCOM">MCOM</option>
   </select>
   <br>
   <label  for="Cut-off">Cut-off</label>
	<input type="number" name="Cut-off" id="Cut-off">
	<br>
	<input type="submit" name="submit" value="Submit">
 </form>
			  </div>
			<!-- <div class="card">Card</div>
			<div class="card">Card</div> -->
		  </div>

	</main>
	<main class="main2">
		<div class="main-header">
			<div class="main-header__heading">Hello Academic</div>
			<!-- <div class="main-header__updates">Recent Items</div> -->
		  </div>

		  <div class="main-overview">
			<div class="overviewcard">
			  <div class="overviewcard__icon">Tenth Board:</div>
			  <div class="overviewcard__info">Brd</div>
			</div>
			<div class="overviewcard">
			  <div class="overviewcard__icon">Tenth Percentage:</div>
			  <div class="overviewcard__info">Per</div>
			</div>
			<div class="overviewcard">
			  <div class="overviewcard__icon">Twelth Board:</div>
			  <div class="overviewcard__info">Brd</div>
			</div>
			<div class="overviewcard">
			  <div class="overviewcard__icon">Twelth Percentage:</div>
			  <div class="overviewcard__info">Per</div>
			</div>
		  </div>

		  <div class="main-cards">
			<div class="card">
			  <p>Stream Details</p>
<hr> 
<form>
	<select id="Stream" name="Stream">
	   <option value="">--Select Main Stream--</option>
	  <option value="Science">Science</option>
	 <option value="Commerce">Commerce</option>
	 <option value="Arts">Arts</option>
	</select>

	<select id="Degree" name="Degree">
		<option value="">--Select Stream--</option>
		<option value="BE">BE</option>
		 <option value="BCOM">BCOM</option>
	 <option value="BBA">BBA</option>
	 <option value="BFM">BFM</option>
	 <option value="BMS">BMS</option>
	 <option value="MCOM">MCOM</option>
   </select>
   <br>
   <label  for="Cut-off">Cut-off</label>
	<input type="number" name="Cut-off" id="Cut-off">
	<br>
	<input type="submit" name="submit" value="Submit">
 </form>
			  </div>
			<!-- <div class="card">Card</div>
			<div class="card">Card</div> -->
		  </div>

	</main>

	<main class="main3">
	  <div class="main-header">
		  <div class="main-header__heading">Hello Contact</div>
		  <!-- <div class="main-header__updates">Recent Items</div> -->
		</div>

		<div class="main-overview">
		  <div class="overviewcard">
			<div class="overviewcard__icon">Tenth Board:</div>
			<div class="overviewcard__info">Brd</div>
		  </div>
		  <div class="overviewcard">
			<div class="overviewcard__icon">Tenth Percentage:</div>
			<div class="overviewcard__info">Per</div>
		  </div>
		  <div class="overviewcard">
			<div class="overviewcard__icon">Twelth Board:</div>
			<div class="overviewcard__info">Brd</div>
		  </div>
		  <div class="overviewcard">
			<div class="overviewcard__icon">Twelth Percentage:</div>
			<div class="overviewcard__info">Per</div>
		  </div>
		</div>

		<div class="main-cards">
		  <div class="card">
			<p>Stream Details</p>
<hr> 
<form>
  <select id="Stream" name="Stream">
	 <option value="">--Select Main Stream--</option>
	<option value="Science">Science</option>
   <option value="Commerce">Commerce</option>
   <option value="Arts">Arts</option>
  </select>

  	<select id="Degree" name="Degree">
		<option value="">--Select Stream--</option>
		<option value="BE">BE</option>
		<option value="BCOM">BCOM</option>
		<option value="BBA">BBA</option>
		<option value="BFM">BFM</option>
		<option value="BMS">BMS</option>
		<option value="MCOM">MCOM</option>
 	</select>
 <br>
 <label  for="Cut-off">Cut-off</label>
  <input type="number" name="Cut-off" id="Cut-off">
  <br>
  <input type="submit" name="submit" value="Submit">
</form>
			</div>
		  <!-- <div class="card">Card</div>
		  <div class="card">Card</div> -->
		</div>

  </main>
  <main class="main4">
	<div class="main-header">
		<div class="main-header__heading">Hello About</div>
		<!-- <div class="main-header__updates">Recent Items</div> -->
	  </div>

	  <div class="main-overview">
		<div class="overviewcard">
		  <div class="overviewcard__icon">Tenth Board:</div>
		  <div class="overviewcard__info">Brd</div>
		</div>
		<div class="overviewcard">
		  <div class="overviewcard__icon">Tenth Percentage:</div>
		  <div class="overviewcard__info">Per</div>
		</div>
		<div class="overviewcard">
		  <div class="overviewcard__icon">Twelth Board:</div>
		  <div class="overviewcard__info">Brd</div>
		</div>
		<div class="overviewcard">
		  <div class="overviewcard__icon">Twelth Percentage:</div>
		  <div class="overviewcard__info">Per</div>
		</div>
	  </div>

	  <div class="main-cards">
		<div class="card">
		  <p>Stream Details</p>
<hr> 
<form>
<select id="Stream" name="Stream">
	<option value="">--Select Main Stream--</option>
	<option value="Science">Science</option>
	<option value="Commerce">Commerce</option>
	<option value="Arts">Arts</option>
</select>

<select id="Degree" name="Degree">
	<option value="">--Select Stream--</option>
	<option value="BE">BE</option>
		<option value="BCOM">BCOM</option>
		<option value="BBA">BBA</option>
		<option value="BFM">BFM</option>
		<option value="BMS">BMS</option>
		<option value="MCOM">MCOM</option>
	</select>
	<br>
	<label  for="Cut-off">Cut-off</label>
	<input type="number" name="Cut-off" id="Cut-off">
	<br>
	<input type="submit" name="submit" value="Submit">
	</form>
		  </div>
		<!-- <div class="card">Card</div>
		<div class="card">Card</div> -->
	  </div>
	</main>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
	function myFunction(){
	  document.getElementsByClassName("main2")[0].style.display='none';
	  document.getElementsByClassName("main3")[0].style.display='none';
	  document.getElementsByClassName("main4")[0].style.display='none';
	  document.getElementsByClassName("main1")[0].style.display='block';
	}
	function myFunction1(){
	  document.getElementsByClassName("main4")[0].style.display='none';
	  document.getElementsByClassName("main3")[0].style.display='none';
	  document.getElementsByClassName("main2")[0].style.display='block';
	}
	function myFunction2(){
	  document.getElementsByClassName("main4")[0].style.display='none';
	  document.getElementsByClassName("main2")[0].style.display='none';
	  document.getElementsByClassName("main3")[0].style.display='block';
	}
	function myFunction3(){
	  document.getElementsByClassName("main3")[0].style.display='none';
	  document.getElementsByClassName("main2")[0].style.display='none';
	  document.getElementsByClassName("main4")[0].style.display='block';
	}
  </script>
{% endblock body %}