{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forgot_password.css' %}" />
    <title>Forgot Password</title>
{% endblock head %}

{% block body %}

    <div class="forgotpassword-section" >
        <img src="{% static 'images/book.jpg' %}" style="width:100%;height: auto;" >
       <div id="Forgot-password">
        <div class="forgotpassword-box" id="box">
            <h1>Forgot your password ?</h1>
            <h6>Enter your email here to reset your password</h6>
                   <form method="POST">
                    {% csrf_token %}
                   <input type="text" name="email" placeholder="Enter Your Email">
                    
                   <input type="submit" name="submit" value="Reset Password">
                     
                   </form>
               </div> 
            </div>
    </div>
{% endblock body %}