{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forgot_password.css' %}" />
    <title>Forgot Password</title>
{% endblock head %}

{% block body %}

    <div class="forgotpassword-section" >
        {% if error %}
            <!-- Notification section -->
            <div id="myModal" class="modal">
                <!-- Notification content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <img src="{% static 'icons/alert.png' %}" alt="Alert: "/>
                    <p>{{message}}</p>
                </div>
            </div>
        {% endif %}
        <img src="{% static 'images/book.jpg' %}" style="width:100%;height: auto;" >
       <div id="Forgot-password">
        <div class="forgotpassword-box" id="box">
            <h1>Forgot your password ?</h1>
            <h6>Enter your email here to reset your password</h6>
                   <form method="POST">
                    {% csrf_token %}
                   <input type="text" name="email" placeholder="Enter Your Email">
                    
                   <input type="submit" name="submit" value="Reset Password">
                     
                   </form>
               </div> 
            </div>
    </div>
    <script>
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
        modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock body %}