{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/reset_password.css' %}"
/>
<title>Reset Password</title>
{% endblock head %} {% block body %}
<div class="reset-section">
  <img src="{% static 'images/book.jpg' %}" style="width: 100%; height: auto" />
  <div class="reset-box">
    <h1>Reset Password</h1>
    <form method="POST">
      {% csrf_token %}
      <p>Email</p>
      <input type="email" name="email" />
      <p>Enter OTP</p>
      <input type="text" name="OTP" id="otp" maxlength="6" />
      <p>New Password</p>
      <input type="password" name="new_password" />
      <p>Confirm Password</p>
      <input type="password" name="confirm_password" />
      <button type="submit" class="submit">Change My Password</button>
    </form>
  </div>
</div>
{% endblock body %}
