{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/seekcollege.css' %}" />
    <title>Seek College</title>
{% endblock head %}

{% block body %}
    <div class="seekcollege">
        <p>Seek College Here</p>
        <h1>Hii {{user.first_name}},
            <span>Here, you can check the various colleges based on stream and their respective cut-off.
            </span>
        </h1>
        <hr> 
        <form method="POST">
            {% csrf_token %}
            <div>
            <select id="stream" name="stream">
                <option value="">--Select Your 12<super>th</super> Stream--</option>
                <option value="Science">Science</option>
                <option value="Commerce">Commerce</option>
                <option value="Arts">Arts</option>
            </select>

            <select id="degree" name="degree">
                <option value="">--Select Stream--</option>
                {% for stream in streams %}
                    <option value="{{stream}}">{{stream}}</option>
                {% endfor %}
            </select>
            </div>
            <br>
            <label  for="Cut-off">Cut-off</label>
            <input type="number" name="cut_off" id="cut_off">
            <br>
            <input type="submit" name="submit" class="submit">
        </form>
        <hr>
        <div class="search_results">
            {% if not colleges %}
                <div class="noresults">
                    No Colleges Found
                </div>
            {% else %}
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>College Name</th>
                            <th>Stream</th>
                            <th>City</th>
                            <th>Cut Off</th>
                            <th>Status</th>
                        </tr>    
                    </thead>
                    <tbody>
                        {% for college in colleges %}
                            <tr class="stream" id="{{ college.college_id }}">
                                <td>{{ college.college_name }}</td>
                                <td>{{ college.stream_name }}</td>
                                <td>{{ college.college_city }}</td>
                                <td>{{ college.cut_off }}</td>
                                {% if not college.applied %}
                                <td><a href="/apply/{{ college.stream_name }}/{{ college.college_id }}/">Apply</a></td>    
                                {% else %}
                                <td class="applied">Applied</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock body %}