{% extends 'base.html' %} {% load static %} {% block head %}
<title>Aptitude Questions</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}" />

{% endblock head %} {% block body %}
<h1>Aptitude Test</h1>
<div class="test-container">
  <div class="question-numbers">
    <p>Questions</p>
    {% for question in test %}
    <li
      id="{{ question.question_id }}"
      class="number"
      onclick="thisQuestion(this)"
    ></li>
    {% endfor %}
    <div class="test_id">
      <h2>Test Id:</h2>
      {{test_id}}
    </div>
  </div>
  <form
    id="answers"
    method="POST"
    onsubmit="return confirm('Are you sure you want to submit test?');"
  >
    {% csrf_token %}
    <div class="questions">
      <ol id="question-slide">
        {% for question in test %}
        <li id="{{ question.question_id }}" class="slide">
          <div class="question">
            <strong>Question: </strong>{{question.question }}
          </div>
          <div class="answers">
            <label>
              <input type="radio" name="{{ question.question_id }}" value="A" />
              {{question.option_A }}
            </label>
            <label>
              <input type="radio" name="{{ question.question_id }}" value="B" />
              {{question.option_B }}
            </label>
            <label>
              <input type="radio" name="{{ question.question_id }}" value="C" />
              {{question.option_C }}
            </label>
            <label>
              <input type="radio" name="{{ question.question_id }}" value="D" />
              {{question.option_D }}
            </label>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
    <div class="submit-container">
      <button type="button" id="previous" class="button">
        Previous Question
      </button>
      <button type="button" id="next" class="button">Next Question</button>
      <button type="submit" id="submit" name="test_id" value="{{ test_id }}">
        End Test
      </button>
    </div>
  </form>
</div>
<div id="alert-container">
  <div class="confirm">
    <div id="confirmMessage">Confirm text</div>
    <div>
      <input id="confirmYes" type="button" value="Yes" />
      <input id="confirmNo" type="button" value="No" />
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  // Variables
  const previousButton = document.getElementById("previous");
  const nextButton = document.getElementById("next");
  const slides = document.querySelectorAll(".slide");
  const q_numbers = document.querySelectorAll(".number");
  let currentSlide = 0;
  var started = false;
  var Submit = false;
  // Functions

  function showSlide(n) {
    slides[currentSlide].classList.remove("active-slide");
    q_numbers[currentSlide].classList.remove("active-question");
    slides[n].classList.add("active-slide");
    q_numbers[n].classList.add("active-question");
    currentSlide = n;
    if (currentSlide === 0) {
      previousButton.classList.add("fade_it");
    } else {
      previousButton.classList.remove("fade_it");
    }
    if (currentSlide === slides.length - 1) {
      nextButton.classList.add("fade_it");
    } else {
      nextButton.classList.remove("fade_it");
    }
  }

  function showNextSlide() {
    if (currentSlide != slides.length - 1) showSlide(currentSlide + 1);
  }

  function showPreviousSlide() {
    if (currentSlide != 0) showSlide(currentSlide - 1);
  }

  const ui = {
    confirm: async (message) => createConfirm(message),
  };

  const createConfirm = (message) => {
    return new Promise((complete, failed) => {
      $("#confirmMessage").text(message);

      $("#confirmYes").off("click");
      $("#confirmNo").off("click");

      $("#confirmYes").on("click", () => {
        $("#alert-container").hide();
        $(".confirm").hide();
        if (!started) {
          let questions = Array.from(q_numbers);
          questions.forEach(
            (elem) => (elem.innerHTML = questions.indexOf(elem) + 1)
          );
          showSlide(currentSlide);
          started = true;
          console.log("Test started");
        }
        // else{
        // 	Submit = true;
        // 	console.log("Test submitted");
        // }
        complete(true);
      });
      $("#confirmNo").on("click", () => {
        $("#alert-container").hide();
        $(".confirm").hide();
        if (!started) {
          location.href = "/";
          console.log("Test not started");
        }
        // else{
        // 	var alert_container = document.getElementById('alert-container');
        // 	alert_container.style.display = 'none';
        // 	Submit = false;
        // 	console.log("Test not submitted");
        // }
        complete(false);
      });
      $("#alert-container").show();
      $(".confirm").show();
    });
  };

  const confirmBox = async (message) => {
    const confirm = await ui.confirm(message);
    if (confirm) {
      alert("\n        All the best!!!\n\n         Try your Best.");
    }
  };
  // Show the first slide
  (function () {
    confirmBox("Do you want ot start test?");
  })();

  function thisQuestion(question) {
    let slides_array = Array.from(slides);
    showSlide(slides_array.findIndex((elem) => elem.id === question.id));
  }

  // Event listeners
  previousButton.addEventListener("click", showPreviousSlide);
  nextButton.addEventListener("click", showNextSlide);
</script>

{% endblock body %}
